body{
    background-image: 
        url("../calculator/images/calculatorBackground.jpg");
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.calculator{
    background-color: rgb(184, 184, 184);
    width: 40em;
    height: 45em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.screen{
    background-color: green;
    width:35em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    border-radius: 10px;
}

.screen div{
    font-size: 2em;
    margin-right: 0.5em;
}

.keys{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 35em;
    height: 30em;
    gap: 0.7em;
}

.keys button{
    font-size: 2em;
    border-radius: 15px;
    border: 2px solid black;
    background-color: whitesmoke;
}

.keys button:hover{
    background-color: rgba(131, 131, 131, 0.616);
    
}

.clear-btn{
    background-color: azure;
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete-btn{
    background-color: !important blanchedalmond;
    grid-column-start: 3;
    grid-column-end: 5;
}

.footer{
    text-align: center;
    font-size: 1.2em;
}