body{
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

img{
    width: 3.5em;
    height: 3em;
    align-self: flex-end;
    margin-right: 3em;
    margin-top: 1em;
}

.calculator{
    background-color: rgb(184, 184, 184);
    width: 40em;
    height: 45em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
}

.screen{
    background-color: green;
    width:34em;
    height: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    border-radius: 10px;
}

.screen div{
    font-size: 2em;
    margin-right: 0.5em;
}

.keys{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 34em;
    height: 29em;
    gap: 0.7em;
}

.keys button{
    font-size: 2em;
    border-radius: 15px;
    border: 2px solid black;
    background-color: whitesmoke;
}

.keys button:hover{
    background-color: rgba(131, 131, 131, 0.616) !important;
    
}

.clear-btn{
    background-color: azure !important;
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete-btn{
    background-color: blanchedalmond !important;
    grid-column-start: 3;
    grid-column-end: 5;
}

.footer{
    text-align: center;
    font-size: 1.2em;
}